<!-- The main page of playlister -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <h2><a href="artists/index.html">Artists -<%= @artists %></a></h2>
  <h2><a href="genres/index.html">Genres -<%= @genres %></a></h2>
  <h2><a href="songs/index.html">Songs -<%= @songs %></a></h2>
</body>
</html>
